body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff7f5;
    color: #2d0f05;
    font-size: 12pt;
    line-height: 30px
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}
h1 {
    letter-spacing: 1px;
    font-size: 45px;
}
h2 {
    font-style: italic;
}

.title-row {
    text-align: center;
    background-color: #2d0f05;
    color: #fff7f5;
    padding-top: 50px;
    padding-bottom: 50px;
}
.head-logo {
    width: 45%;
}

#green-bar {
    height: 50px;
    background-color: #AFBD63;
}
#self-portrait {
    width: 100%;
    border-radius: 5px;
    border: 10px solid #2d0f05;
}
#about-me {
    padding-top: 70px;
}
.about-me-text {
    margin-right: 50px;
    margin-bottom:  0;
    margin-left: 10px;
}
#social-links {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
}
#social-links a {
    color: #AFBD63;
}